body {
  margin: 0;

}

/* Travel Journal */
.travel-journal {
  width: 550px;
  margin: auto;
}

/* Nav Area */
.nav-area {
  display: flex;
  flex-direction: row;
  background-color: #F55A5A;
  height: 55px;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 24px;
  height: 24px;
}

.nav-text {
  margin: 0 7px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;
}

/* Location Styles */

.location-area {
  display: flex;
  flex-direction: row;
  margin: 45px 0 0 40px;

}

.location-img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.location-details {
  margin: 0 0 0 20px;
}

.location-details a {
  font-size: 10.24px;
  line-height: 12px;
  color: #918E9B;
  margin-left: 12px;
}

.location-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.location-pin {
  width: 7px;
  height: 9.55px;
  margin-right: 5px;
}

.location-country {
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.location-name {
  margin: 7px 0 10px 0;
}

.location-period {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;

  color: #2B283A;
}

.location-description {
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  color: #2B283A;
  text-align: left;
  width: 326px;
}

.horizontal-rule {
  margin: 18px 32px 18px 40px;
  width: 478px;
  border: 1px solid #F5F5F5;
}

/* Footer Styles */
.footer {
  display: flex;
  background-color: #F55A5A;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #FFFFFF;

}